$checkbox-width: 24px;
$checkbox-height: 24px;
$checkbox-inner-width: 5px;
$checkbox-inner-height: 15px;
$checkbox-border: 1px;

.e-checkbox {
  margin-bottom: 20px;
}

.e-checkbox__input {
  position: absolute;
  opacity: 0;
}

.e-checkbox__label {
  @include use-text(input);
  position: relative;
  display: block;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: calc(#{$checkbox-width} + 12px);
  cursor: pointer;

  &::before {
    background-color: $color-white-w1;
  }
  /* for links in label, set in mwf */
  a {
    color: inherit;
    text-decoration: underline;
  }
  .has-touch & {
    .toucharea {
      height: $toucharea-min-size;
      width: $toucharea-min-size;
      left: calc((#{$checkbox-width} + #{$checkbox-border} - #{$toucharea-min-size}) / 2);
      top: calc((#{$checkbox-height} + #{$checkbox-border} - #{$toucharea-min-size}) / 2);
      transform: translate(0, 0);
    }
  }
}

.e-checkbox__input {
  &:focus,
  &:active {
    &:not([disabled]) {
      ~ .e-checkbox__label {
        &::before {
          box-shadow: 0 0 5px 0 $color-grey-shadow;
        }
      }
    }
  }

  ~ .e-checkbox__label {
    min-height: $checkbox-height;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      border: $checkbox-border solid $color-anthracite-a6;
      color: transparent;
      content: '';
      display: block;
      width: $checkbox-width;
      height: $checkbox-height;
      box-sizing: border-box;
    }

    &:hover {
      &::before,
      &::after {
        border-color: $color-anthracite-a2;
      }
    }
  }
}

.e-checkbox__input {
  &:checked {
    ~ .e-checkbox__label {
      &::before {
        border-color: $color-anthracite-a2;
        background-color: $color-anthracite-a2;
      }
      &::after {
        content: '';
        position: absolute;
        top: calc(((#{$checkbox-height} - #{$checkbox-inner-height}) / 2) - 4px);
        left: calc(((#{$checkbox-width} - #{$checkbox-inner-width}) / 2) - 1px);
        display: block;
        width: $checkbox-inner-width;
        height: $checkbox-inner-height;
        transform: rotate(36deg);
        transform-origin: 50% 50%;
        border-bottom: 2px solid $color-white-w1;
        border-right: 2px solid $color-white-w1;
      }
    }
  }

  &.has-keyboardfocus ~ .e-checkbox__label {
    &::before {
      outline: 2px solid $color-cyan-c1;
    }
  }

  // sass-lint:disable force-attribute-nesting
  .m-formbuttongroup[data-has-error='true'] &,
  &:invalid,
  &[aria-invalid='true'] {
    ~ .e-checkbox__label {
      &::before {
        border: 1px solid $color-red-r1;
        @include forced-colors(none) {
          border-color: $color-red-r1;
        }
      }
      &:hover {
        &::before {
          border: $checkbox-border solid $color-red-r1;
        }
      }
    }
  }
  // sass-lint:enable force-attribute-nesting

  &[disabled],
  &[aria-disabled='true'] {
    ~ .e-checkbox__label {
      color: $color-grey-g1;
      cursor: default;

      &::before {
        cursor: default;
        border: $checkbox-border solid $color-grey-g1;
        background-color: $color-grey-g2;
      }
      @include forced-colors() {
        opacity: 0.5;
      }
    }
  }
}
