/**
 * Base styles -------------------------------------------------
 */

.e-link,
%e-link {
  color: $color-interactive-text;
  display: inline-block;

  &.e-link--light {
    @include hover {
      color: $color-interactive-text-hover-light;

      .e-link__title {
        text-decoration: underline;
      }
    }

    color: $color-interactive-text-light;

    .e-link__title {
      text-decoration: underline;
    }

    .e-icon--text {
      fill: $color-interactive-text-light;
    }
  }

  @include hover {
    color: $color-interactive-text-hover;

    .e-link__title {
      text-decoration: underline;
    }
  }
}

.e-link {
  &.e-link--download {
    @include has-icon;
    padding-left: 1.4em;
    text-decoration: none;

    .e-link--download-info {
      white-space: nowrap;
    }

    .e-icon--text {
      left: 0;
      right: auto;
      top: 0.3em;
      bottom: auto;
    }
  }
}

.e-link__copy {
  @include use-text(copy);

  padding-top: 10px;
  text-decoration: none;
}

.e-link--icon {
  @include has-icon;

  position: relative;
  display: inline-block;
}

.e-link--hoverunderline {
  text-decoration: none;

  .e-icon {
    top: 0.3em;
  }
}

.e-link--external {
  @include has-icon;
  padding-left: 1.4em;
  text-decoration: none;

  .e-icon--text {
    left: 0.1em;
    right: auto;
    top: 0.3em;
    bottom: auto;
  }
}

.e-link--internal {
  text-decoration: none;
}
