/**
 * Base styles -------------------------------------------------
 */

$m-richtext-styles-mapping: (
        'default': 'style-cluster-5',
        'faq': 'style-cluster-6',
        'gm': 'style-cluster-6',
        'meinetk': 'style-cluster-7',
        'kunden-magazin': 'style-cluster-9',
        'kunden-mgzn': 'style-cluster-11',
);

.m-richtext {
  &,
  > .m-richtext__highlight {
    clear: both;
    @include clearfix;
    > * {
      margin-bottom: 25px;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &.e-link {
        text-decoration: underline;
      }
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      margin-top: 50px;
      color: inherit;
      /* Clear all headlienes */
      clear: both;
    }

    h2 {
      @include use-text(h2);
    }

    h3 {
      @include use-text(h3);
    }

    h4 {
      @include use-text(h4);
    }

    h5 {
      @include use-text(h5);
    }

    .m-teaser-embedded {
      text-decoration: none;
    }

    .m-teaser-embedded__headline,
    > .m-teaser-embedded__headline {
      @include use-text(h5);
    }

    sub,
    sup {
      line-height: 1;
    }

    ul,
    ol {
      /* clear floating for every list */
      clear: both;
    }

    // clear after multiple floating images
    .m-artikelbild--floating + .m-artikelbild--floating {
      + p {
        clear: both;
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  > .m-richtext__highlight {
    > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
/* Sonderfall checkmarklist */
.m-checkmarklist__content.has-highlight .m-richtext,
.m-richtext__highlight {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include use-bereich-styles($m-richtext-styles-mapping, ('color', 'text-transform'));
  }

  h2 {
    .is-bereich-kunden-magazin & {
      @include use-font(headline-medium);
      font-size: 22px;

      @include use-breakpoint($breakpoint-navigation, above) {
        font-size: 28px;
      }
    }

    .is-bereich-kunden-mgzn & {
      @include use-font(headline-medium);
      font-size: 28px;

      @include use-breakpoint($breakpoint-navigation, above) {
        font-size: 32px;
      }
    }
  }
}

.m-richtext__highlight {
  position: relative;
  padding: 40px 0;
  margin: 50px 0;
  z-index: 0;
  @include use-breakpoint(mini-tablet, above) {
    padding: 50px 0;
    margin: 50px 0;
  }
  &::before {
    @include use-bereich-styles($m-richtext-styles-mapping, ('background-color'));
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: auto;
    right: -$size-content-side-space-mobile;
    left: -$size-content-side-space-mobile;
    @include forced-colors(unset) {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    @include use-breakpoint(mini-tablet, above) {
      right: -$size-content-side-space;
      left: -$size-content-side-space;
    }

    @include use-breakpoint(tablet) {
      /* ipad air fix KAWEB-4339 */
      @include highlight-background(span(1 wide), span(1 wide));
      right: calc(-140px - 95px);
    }

    @include use-breakpoint(desktop, above) {
      @include highlight-background(span(2 wide), span(3 wide));
    }
  }
  .c-richtext & {
    &::before {
      @include use-breakpoint(tablet) {
        @include highlight-background(span(1 wide), span(1 wide));
      }

      @include use-breakpoint(desktop, above) {
        @include highlight-background(span(1 wide), span(1 wide));
      }
    }
  }
  /* markierten Richttext innerhalb Spalten nicht ueber die komplette breite einfaerben */
  .m-spalten & {
    & {
      margin: 10px 0;
      @include use-bereich-styles($m-richtext-styles-mapping, ('background-color'));
      padding: 30px 20px 30px 20px;
      @include use-breakpoint(tablet, above) {
        padding: 50px;
      }
    }
    &::before {
      display: none;
    }
  }
  /* markierten Richttext innerhalb checkmarklist nicht einruecken */
  .m-checkmarklist & {
    & {
      padding-left: 0;
      padding-right: 0;
      @include use-breakpoint(tablet, above) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

/**
 * Article styles -------------------------------------------------
 */

.m-richtext--article {
  margin-bottom: 40px;

  .e-quote {
    padding: 0 7%;
    opacity: 1;
    /* clear floating for every quote */
    clear: both;
    @include use-breakpoint($breakpoint-article, above) {
      padding: 0;
      width: calc($size-content-max * 0.3);
      transform: translateY(100%);
      position: absolute;
      right: $dynamic-horizontal-padding-with-min-value;
      opacity: 0;

      &.is-visible {
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        transform: translateY(-100%);
        opacity: 1;
      }
    }
  }

  // pull quote down under highlight box if the highlight is followed by it
  // pull quote down if a table is followed by it
  .m-richtext__highlight + .e-quote {
    @include use-breakpoint($breakpoint-article, above) {
      transform: translateY(200%);

      &.is-visible {
        transform: translateY(0);
      }
    }
  }

  .e-table {
    transition: margin-right $expo-tween-t1-time $expo-tween-t1;
    /* clear floating for every table */
    clear: both;
    &.is-scrollable + .e-quote {
      @include use-breakpoint($breakpoint-article, above) {
        transform: translateY(200%);

        &.is-visible {
          transform: translateY(0);
        }
      }
    }
  }

  // add padding-top to scrollable table to add space between quote and table
  .e-quote + .e-table {
    &.is-scrollable {
      @include use-breakpoint($breakpoint-article, above) {
        margin-top: 50px;
      }
    }
  }

  > .m-gallery {
    /* clear floating for every gallery */
    clear: both;
    .m-artikelbild {
      margin-bottom: 0;
    }

    .m-gallery__controls {
      @include maintain-aspect-ratio(10, 7);
      bottom: initial;

      @include use-breakpoint(desktop, above) {
        @include maintain-aspect-ratio(1, 1);
      }
    }
  }

  > .m-artikelbild {
    &.m-artikelbild--nocropping {
      margin-left: 0;
    }
  }

  > .m-artikelbild--floating {
    float: none;
  }

  @include use-breakpoint($breakpoint-navigation, above) {
    > .m-artikelbild--floating {
      float: left;
    }
  }
  :not(.c-richtext) > & {
    @include use-breakpoint(tablet, above) {
      > .m-artikelbild,
      > .m-media,
      > .m-gallery,
      > .m-artikelvideo,
      > .m-teaser-embedded,
      > .m-artikelaudio,
      > .e-table {
        margin-left: $content-left-exposed;
        /* clear floating */
        clear: both;
      }

      /* no clearing for no-cropping images */
      > .m-artikelbild {
        &.m-artikelbild--nocropping {
          clear: none;
          + .m-artikelbild--nocropping {
            margin-left: 0;
          }
        }
      }

      > .m-artikelbild,
      > .m-gallery,
      > .m-artikelvideo,
      > .m-teaser-embedded,
      > .m-artikelaudio,
      > .e-media--audio,
      > .e-media--video {
        &:not(.m-artikelbild--floating):not(.m-artikelbild--portrait):not(.m-artikelaudio--floating) {
          width: 90%;
        }
      }

      > .e-table {
        max-width: inherit;
        width: initial;
      }
    }
  }
}

/** TEMP - Remove asap */
.u-viewport {
  & > .m-richtext {
    &.is-content {
      @include content(true);
    }
  }
}

/**
 * Introduction styles -------------------------------------------------
 */
.m-richtext--introduction {
  p {
    @include use-text(copy-bold);
  }
}

/**
 * Short answer styles -------------------------------------------------
 */
.m-richtext--shortanswer {
  position: relative;

  @include use-breakpoint(mini-tablet, above) {
    margin-left: 0;
    &::before {
      content: '';
      width: 6px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -20px;
      background-color: $color-neonyellow-n5;
    }
  }

  p {
    @include use-text(h4);
  }
}

/**
 * FAQ styles -------------------------------------------------
 */
.m-richtext--faq {
  @include use-breakpoint(tablet, above) {
    > .m-artikelbild,
    > .m-gallery,
    > .m-teaser-embedded,
    > .m-artikelvideo,
    > .m-artikelaudio,
    > .e-media--audio,
    > .e-media--video {
      margin-left: $content-left-exposed;

      &:not(.m-artikelvideo--floating):not(.m-artikelaudio--floating):not(.m-artikelbild--floating):not(
          .m-artikelvideo--floatingcaption
        ):not(.m-artikelbild--portrait) {
        width: 90%;
      }
    }

    > .e-table {
      margin-left: $content-left-exposed;
      max-width: inherit;
      width: initial;
    }
  }
}

/**
 * SEOText styles -------------------------------------------------
 */
.m-richtext__wrapper {
  margin-top: $size-module-bottom-space-mobile;
  margin-bottom: $size-module-last-bottom-space-mobile;

  @include use-breakpoint(mini-tablet, above) {
    margin-top: $size-module-bottom-space-desktop;
    margin-bottom: $size-module-last-bottom-space-desktop;
  }
}

.m-richtext--seotext {
  @include use-text(copy);
  @include content(true);
  color: $color-anthracite-a2;

  > h1,
  > h2,
  > h3,
  > h4 {
    @include use-text(h4);
    margin-top: 0;
    margin-bottom: 15px;
  }
}

/**
 * SEOText Landingpage Hero-------------------------------------------------
 */
.m-richtext--landingpagehero {
  @include use-text(copy);

  p {
    margin-bottom: 10px;
  }

  ul {
    margin: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

/**
 * Check mark ul-------------------------------------------------
 */
.m-richtext--checkmarkul {
  @include use-text(copy);

  > *:first-child {
    margin-top: 0;
  }

  > ul,
  > .e-list--ul {
    > li,
    > .e-list__item {
      padding-left: 40px;
      margin-bottom: 20px;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background-image: url('https://www.tk.de/blueprint/static/img/check_cyan_c2.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
        background-color: transparent;
        vertical-align: middle;
        position: absolute;
        top: -3px;
        left: 0;
        /* Sonderfall */
        .is-bereich-kunden-mgzn & {
          background-image: url('https://www.tk.de/blueprint/static/img/check_anthracite-a2.svg');
        }
      }
    }
  }
}

/**
 * Highlight background style -------------------------------------------------
 */

.m-richtext__highlight {
  .e-quote {
    @include use-breakpoint($breakpoint-article, above) {
      width: calc($size-content-max * 0.3);
      //right: calc((#{span(5 of 6)} + 10px) * -1);
      left: calc($dynamic-horizontal-padding-with-min-value - $size-content-side-space);
    }
  }
}
