/**
 * Add left and right content padding (default size)
 */
@mixin use-side-paddings {
  padding-left: $size-content-side-space;
  padding-right: $size-content-side-space;
}

/**
 * Add left and right content padding (mobile size)
 */
@mixin use-mobile-side-paddings {
  padding-left: $size-content-side-space-mobile;
  padding-right: $size-content-side-space-mobile;
}

/**
 * Add dynamic left and right padding to center content
 */
@mixin use-dynamic-side-paddings {
  padding-left: $dynamic-horizontal-padding-with-min-value;
  padding-right: $dynamic-horizontal-padding-with-min-value;
}

/**
 * Use default content size paddings
 *
* @param {boolean} $use-mobile-padding
 * @returns {void}
 */
@mixin content($use-mobile-padding: false) {
  @if $use-mobile-padding == true {
    @include use-mobile-side-paddings;
  }

  @include use-breakpoint($breakpoint-navigation, above) {
    @include use-dynamic-side-paddings;
  }
}

/**
 * Remove max-width
 *
 * @returns {void}
 */
@mixin viewport-max {
  max-width: none;

  &.u-viewport__content {
    max-width: none;
  }
}

/**
 * wraps element in brackets
 */
@mixin wrap-brackets {
  display: inline-flex;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

@mixin shim-colors($selector: '.is-opened') {
  $shim-opacity: 0.8;

  background-color: $color-anthracite-a5;
  transition: opacity 0.4s ease-out;

  @if ($selector != false) {
    opacity: 0;

    #{$selector} & {
      opacity: $shim-opacity;
    }
  } @else {
    opacity: $shim-opacity;
  }
}

/**
 * shim style
 */
@mixin shim {
  @include shim-colors('.is-opened');

  height: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;

  .is-opened & {
    height: 100%;
    inset: 0;
    z-index: $z-index-header-shim;
  }
}

/**
 * top indent for content blocks
 */
@mixin top-indent {
  @include content;
  position: relative;
  margin-top: 0;

  @include use-breakpoint(tablet, above) {
    margin-top: -100px;
  }
}

/**
 * Clear floats after module
 */
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

/**
 * Clear floats before module
 */
@mixin clearfix-before {
  &::before {
    clear: both;
    content: '';
    display: table;
  }
}

/**
 * Adds a pseudo after element with shadow at the bottom of the current module
 */
@mixin content-shadow {
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: ' ';
    display: table;
    box-shadow: 0 0 7px 0 $color-grey-shadow;
    height: 8px;
    z-index: $z-index-shadow;
    transform: translateY(-8px);
  }
}

/**
 * Adds a pseudo before element with shadow at the top of the current module
 */
@mixin content-shadow-top {
  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    content: ' ';
    display: table;
    box-shadow: 0 3px 6px -2px $color-grey-shadow;
    height: 8px;
    z-index: 19;
    transform: translateY(-58px);
    @include forced-colors {
      display: block;
      border-top: 1px solid transparent;
    }
    @include use-breakpoint(mini-tablet, above) {
      transform: translateY(-108px);
    }
  }
}

/**
 * Hides the shadow pseudo-before-element and removes the top border from the current element
 * It is used in case there should not be a shadow between two modules without highlight
 */
@mixin hide-content-shadow-top {
  border-top: 0;

  &::before {
    display: none;
  }
}

/**
 * Covers the pseudo-before-element with shadow of a descending module up
 * Is applied to the element before the module with content-shadow-top
 * It is used on modules which contain and end with a highlight and are followed by another highlight module
 */
@mixin content-shadow-coverup {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background: $color-white-w1;
  z-index: #{$z-index-shadow + 10};
}

/**
 * Select last row in unbalanced grid
 *
 * @param {number} $columns
 * @returns {void}
 */
@mixin select-last-row($columns) {
  &:nth-child(#{$columns}n + 1) {
    &:nth-last-child(-n + #{$columns}),
    &:nth-last-child(-n + #{$columns}) ~ * {
      @content;
    }
  }
}

/**
 * Sets `margin-top` depending on the difference of the logo height and the
 * header element height and adds some base spacing to it. If specified,
 * there could be additional spacing by using the `$extra-spacing` parameter.
 */
@mixin use-header-margin($extra-spacing: 0px) {
  $space-between-logo-and-content: 24px;
  margin-top: calc(
    $g-evoheader-logo-size-xs - $g-evoheader-module-height-xs + $space-between-logo-and-content + $extra-spacing
  );

  @include use-breakpoint($breakpoint-navigation, above) {
    margin-top: calc(
      $g-evoheader-logo-size-m - $g-evoheader-module-height-m + $space-between-logo-and-content + $extra-spacing
    );
  }

  @include use-breakpoint(desktop, above) {
    margin-top: calc(
      $g-evoheader-logo-size-l - $g-evoheader-module-height-l + $space-between-logo-and-content + $extra-spacing
    );
  }
}

/**
* Define CSS hyphens for long words.
* Hyphenation will be used for extreme long words
* especially useful for grids with image and text
* to keep the given image ratio
*
* @param $min-word-length minimum length for word to be hyphenated
* @param $min-chars-before minimum character length before hyphenation
* @param $min-chars-after minimum character length after hyphenation in next line
*/
@mixin use-hyphenation($min-word-length, $min-chars-before, $min-chars-after) {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphenate-limit-chars: $min-word-length $min-chars-before $min-chars-after;
}
