@use 'sass:math';
/**
 * Base Sizes
 */
$size-content-max: 1280px;
$size-article-max: $size-content-max;
$size-page-max: 1680px;
$size-spacer: 10px;
$size-content-side-space: 40px;
$size-content-side-space-mobile: 24px;

$size-module-bottom-space-mobile: 80px;
$size-module-bottom-space-mobile--no-shadow: 50px;
$size-module-bottom-space-desktop: 100px;
$size-module-last-bottom-space-mobile: 60px;
$size-module-last-bottom-space-desktop: 120px;

$navigation-height-desktop: 65px;
$navigation-height-mobile: 50px;
$logout-height-mobile: 48px;

$content-left-exposed: -55px;

$stickydiscardable-height: 80px;

$sharingtoolbar-icon-size: 32px;
$sharingtoolbar-icon-size-desktop-above: 24px;

$m-header-margin-bottom: 20px;
$m-header-margin-bottom-minitablet-up: 60px;
$m-header-margin-bottom-desktop-up: 60px;

/**
 * Calculates dynamic padding when size-content-max is reached
 * in order to have fully centered and aligned content
 * the second variable provides a min-padding using 'max()' calculation,
 * which selects the largest value in the given list
 */
$dynamic-horizontal-padding: calc((100vw - $size-content-max) / 2 + $size-content-side-space);
$dynamic-horizontal-padding-with-min-value: max($size-content-side-space, $dynamic-horizontal-padding);

/**
 * Offsets
 */
// TODO LK: introduce module agnostic offset variables
$g-form-offset-vertical: 48px;

/**
 * The Grid, a cluster of information... no stop, just the Layout Grid!
 */
$susy-columns: 12;

$susy: (
  columns: susy-repeat(12),
  gutters: math.div(1, 10),
  math: fluid,
  output: float,
  gutter-position: after,
  global-box-sizing: border-box,
  debug: (
    image: show,
  ),
);

/**
 * Evoheader Variables
 */
$g-evoheader-module-height-xs: 64px;
$g-evoheader-module-height-m: 72px;
$g-evoheader-module-height-l: 80px;

/**
  logo variables
 */
$g-evoheader-logo-size-xs: 80px;
$g-evoheader-logo-size-m: 100px;
$g-evoheader-logo-size-l: 120px;

/**
  icon button variables
 */
$g-evoheader-icon-size-mobile: 48px;
$g-evoheader-icon-size-desktop: $g-evoheader-icon-size-mobile;
$g-evoheader-icon-hover-color: #0000000a;
