html.tealium-modal-open {
  overflow: hidden;
}

.tealium-modal {
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
}

.privacy_prompt {
  position: relative;
  width: 600px;

  text-align: left;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #444;
  font-size: 14px;
  word-break: break-word;
}

.privacy_prompt a {
  text-decoration: none;
  color: #0077bf;
}

.privacy_prompt_content {
  padding: 20px;
  font-size: 0.9em;
}

.privacy_prompt h1 {
  font-size: 1.3em;
  color: #444;
  font-weight: 400;
}

.privacy_prompt .option {
  margin: 10px 0px;
  color: #444;
}

.privacy_prompt_footer {
  padding: 0px 20px 20px 20px;
  overflow: auto;
}

.privacy_prompt_footer a {
  font-size: 0.9em;
}

.privacy_prompt_footer .button {
  font-size: 1em;
  border: 1px solid #ccc;
  padding: 4px 15px;
  min-width: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #eee;
  box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
  color: #000;
  cursor: pointer;
}

.privacy_prompt .button.right {
  float: right;
}

.privacy_prompt .button.left {
  float: left;
}

.privacy_prompt > .close_btn_thick {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #777;
  font: 14px/100% arial, sans-serif;
  cursor: pointer;
}

.privacy_prompt > .close_btn_thick:after {
  content: '\2716';
}

.privacy_prompt .logo {
  float: right;
}

.privacy_prompt table {
  padding: 0px;
  border-collapse: collapse;
}

.privacy_prompt table tr {
}

.privacy_prompt table th {
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  margin: 0px;
  padding: 5px 8px;
  font-weight: 400;
  text-align: center;
}

.privacy_prompt table td {
  vertical-align: top;
  padding: 10px 8px 5px 8px;
}

.privacy_prompt table tr td:first-child {
  min-width: 120px;
  font-weight: 600;
  color: #666;
}

.privacy_prompt table tr td:last-child {
  text-align: center;
  min-width: 100px;
}

.privacy_prompt input[type='checkbox'].toggle {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.privacy_prompt input[type='checkbox'].toggle + label {
  height: 24px;
  line-height: 24px;
  background-color: #ccc;
  padding: 0px 16px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.privacy_prompt input[type='checkbox'].toggle + label:before,
.privacy_prompt input[type='checkbox'].toggle + label:hover:before {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 20px;
  background: #fff;
  z-index: 2;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}

.privacy_prompt input[type='checkbox'].toggle + label .off,
.privacy_prompt input[type='checkbox'].toggle + label .on {
  color: #fff;
}

.privacy_prompt input[type='checkbox'].toggle + label .off {
  margin-left: 20px;
  display: inline-block;
}

.privacy_prompt input[type='checkbox'].toggle + label .on {
  display: none;
}

.privacy_prompt input[type='checkbox'].toggle:checked + label .off {
  display: none;
}

.privacy_prompt input[type='checkbox'].toggle:checked + label .on {
  margin-right: 20px;
  display: inline-block;
}

.privacy_prompt input[type='checkbox'].toggle:checked + label,
.privacy_prompt input[type='checkbox'].toggle:focus:checked + label {
  background-color: #3278c0;
}

.privacy_prompt input[type='checkbox'].toggle:checked + label:before,
.privacy_prompt input[type='checkbox'].toggle:checked + label:hover:before,
.privacy_prompt input[type='checkbox'].toggle:focus:checked + label:before,
.privacy_prompt input[type='checkbox'].toggle:focus:checked + label:hover:before {
  background-position: 0 0;
  top: 2px;
  left: 100%;
  margin-left: -28px;
}
.privacy_prompt input[type='checkbox'].toggle + label {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 24px;
  height: 24px;
}
@media (max-width: 780px) {
  #__tealiumGDPRecModal .privacy_prompt {
    width: 90%;
    margin: 0 auto;
    left: 5%;
  }
}
